/* kopioi allaolevat uuteen layoutiin*/
* {
  box-sizing: border-box;
}
body {
  font-family: 'ui-rounded', sans-serif;
  background-color: white;
  font-size: 16px;
}
header {
  background-color: #2f4d52;
  padding: 1px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: 'ui-rounded', sans-serif;
  border-radius: 30px 30px 0px 0px;
}
h2 {
  color: #2f4d52;
  font-family: 'ui-rounded', sans-serif;
  font-size: 18px;
  font-weight: bolder;
}
h3 {
  background-color: #5cd6c2;
  color: #2f4d52;
  font-family: 'ui-rounded', sans-serif;
  text-align: center;
  border-radius: 30px;
  border-style: hidden;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px
}
#nav1 {
  list-style: none;
  margin: 0 auto;
  padding: 15px;
  overflow: hidden;
  background-color: #2f4d52;
  text-align: center;
}
#nav1 li {
  display: inline;
}
#nav1 a {
  text-align: center;
  padding: 0px 15px;
  text-decoration: none;
  color: #fff875;
  font-family: 'ui-rounded', sans-serif;
  font-weight: bold;
}
#nav1 a:hover {
  color: red;
}
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #2879;
  padding: 15px;
}
nav ul {
  list-style-type: none;
  padding: 10px;
  margin: auto;
}
nav a {
  text-decoration: none;
  color: #fff875;
  font-family: 'ui-rounded', sans-serif;
  font-weight: bold;
  }
nav a:hover {
  color: red;
}
/* articleen lisätty alkup. bodystä BC black ja C gray, jotta pysyisi sama kuin alkuperäisen tehtävän anto*/
article { 
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: black;
  color: lightgray;
  padding: 30px;
  line-height: 20px;
}
footer {
  background-color: #2f4d52;
  padding: 10px;
  text-align: center;
  color: #fff875;
  font-family: 'ui-rounded', sans-serif;
  font-weight: bold;
  border-radius: 0px 0px 30px 30px;
}
footer p {
  color: #fff875;
  font-family: 'ui-rounded', sans-serif;
  font-weight: bold;
}
.loota {
  background-color: white;
  width: 80%;
  align-items: center;
  border-radius: 30px;
  box-shadow: 8px 13px 30px 0 rgba(47, 77, 82, 0.25);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.cssvalid li {
  text-align: center;
  list-style: none;
}
a a:hover {
  color: red;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 15px;
}
a {
  text-decoration: none;
  font-family: 'ui-rounded', sans-serif;
  font-weight: bold;
}
/* kopioi ylläolevat uuteen alayoutiin - alta poistettu body ja h1 stylet*/

  p {
    color: lightgray;
    font-family: Verdana;
    font-size: 12px;
  }
  .dot {
    border-color: white;
    border-style: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px;
  }
  ul {
    list-style-type: square;
  }
  ol {
    list-style-type: upper-alpha;
  }