@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;500&display=swap');

:root {
    --bs-body-font-family: 'Shantell Sans', cursive;
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Shantell Sans', cursive;
  background-color: white;
  font-size: 16px;
}
header {
  background-color: #2f4d52;
  padding: 1px;
  text-align: center;
  font-size: 60px;
  color: #e7e5e5;
  font-family: 'Shantell Sans', cursive;
  border-radius: 30px 30px 0px 0px;
}
h2 {
  color: #2f4d52;
  font-family: 'Shantell Sans', cursive;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}
h1 {
    color: #2f4d52;
    font-family: 'Shantell Sans', cursive;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  }
  h3 {
    color: #b8bfc0;
    font-family: 'Shantell Sans', cursive;
    font-size: 16px;
 
  }
p {
    color: #2f4d52;
    font-family: 'Shantell Sans', cursive;
    font-size: 16px;
    text-align: center;
  }
section {
  display: -webkit-flex;
  display: flex;
}
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #2879;
  padding: 15px;
}


article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #e7e5e5;
  padding: 30px;
  line-height: 20px;
}
footer {
  background-color: #e7e5e5;
  padding: 10px;
  text-align: center;
  color: #2f4d52;
  font-family: 'Shantell Sans', cursive;
  font-weight: bold;
  border-radius: 0px 0px 30px 30px;
}
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 800px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
#nav1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0 auto;
  padding: 15px;
  background-color: #e7e5e5;
  text-align: right;
  border-radius: 30px 30px 0px 0px;
}
#nav1 li {
  display: inline;
}
#nav1 a {
  text-align: center;
  padding: 0px 15px;
  text-decoration: none;
  color: #2f4d52;
  font-family: 'Shantell Sans', cursive;
  font-weight: bold;
}
#nav1 a:hover {
  color: rgb(255, 103, 2);
}
a {
  text-decoration: none;
  font-family: 'Shantell Sans', cursive;
  font-weight: bold;
  color: #2f4d52;
}
.loota {
  background-color: #e7e5e5;
  width: 80%;
  min-height: 800px;
  box-shadow: 8px 13px 30px 0 rgba(47, 77, 82, 0.25);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 30px;
  padding: 30px;
}
.cssvalid li {
  text-align: center;
  list-style: none;
}
a:hover {
  color: rgb(255, 103, 2);
}
.row {
    color: #2f4d52;
    font-family: 'Shantell Sans', cursive;
    font-size: 25px;
    vertical-align: bottom;
  }
  div.c {
    text-align: right;
  } 
  div.a {
    text-align: center;
  }
  .kuvastyle {
    text-align: center;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }




  /* Gallery style */
  .gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image img {
    height: auto;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;    
    border-radius: 30px;
    transform: scale(1.0);
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }



 /* Form style */
  
 input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #2f4d52;
    width: 100%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2f4d52;
  color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: none;
  padding: 20px;
}



.col-50 {
  width: 50%;
  margin-top: 6px;
  margin: auto;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-50, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}