body {
    background-color: black;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 20px;
  }
  p {
    font-family: Verdana;
    font-size: 12px;
    color: lightgray;
  }
  div.class{
border-style: dotted white 2px;
width: 100px;
height: 100px;
  }
  ul {
    list-style-type: square;
  }
  ol {
    list-style-type: upper-alpha;
  }