body {
    background-color: #2f4d52;
    color: lightgray;
  }
  h1 {
    background-color: #fff875;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'Uniform rounded extracondensed', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
  }
  p {
    background-color: #5cd6c2;
    color: #2f4d52;
    font-family: 'ui-rounded', sans-serif;
    text-align: center;
    font-size: 12px;
  }
  .dot {
    border-color: white;
    border-style: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px;
  }
  .loota {
    background-color: antiquewhite;
    align-items: center;
    -webkit-box-align: stretch;
    border-radius: 30px;
    box-shadow: 8px 13px 30px 0 rgba(47, 77, 82, 0.25);
  }
  ul {
    list-style-type: circle;
  }
  ol {
    list-style-type: upper-alpha;
  }