body {
    background-color: #2f4d52;
    color: #2f4d52;
    font-family: 'ui-rounded', sans-serif;
    font-size: 15px;
    align-items: center;
  }
  h1 {
    background-color: #fff875;
    color: #2f4d52;
    width: auto;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'Uniform rounded extracondensed', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    border-style: hidden;
    border-radius: 30px 30px 0px 0px;
    padding: 20px;
  }
  p {
    background-color: #5cd6c2;
    color: #2f4d52;
    font-family: 'ui-rounded', sans-serif;
    text-align: center;
    border-radius: 30px;
    border-style: hidden;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px
  }
  .dot {
    border-color: white;
    border-style: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px;
  }
  .loota {
    background-color: white;
    width: 70%;
    align-items: center;
    text-align: center;
    -webkit-box-align: stretch;
    border-radius: 30px;
    box-shadow: 8px 13px 30px 0 rgba(47, 77, 82, 0.25);
    margin: auto;
    padding: 0px 0px 50px 0px;
  }
  ul {
    color: #2f4d52;
    font-family: 'Uniform rounded extracondensed', sans-serif;
    list-style-type: circle;
    margin: auto;
    display: inline-block;
    text-align: left;
  }
  ol {
    list-style-type: upper-alpha;
  }
  li{
    color: #2f4d52;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  figure {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
  }
  figcaption {
    text-align: center;
  }
  progress {
    font-family: 'ui-rounded', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }
  label {
    font-family: 'ui-rounded', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
} 